
.stackContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.wrapperInfoBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 200px;
    border: black solid;
    border-radius: 10px;
    margin: 20px;
    justify-content: space-around;
    color: #232323;
}
.image {
    width: 100px;
}
@media screen and (max-width: 885px ){
    .wrapperInfoBlock {
        width: 200px;
        height: 180px;
        margin: 0;
        font-size: 16px;
    }
    .image {
        width: 50px;
    }
}

@media screen and (max-width: 550px ){
    .wrapperInfoBlock {
        width: 140px;
        height: 138px;
        margin: 0;
        font-size: 13px;
    }
    .image {
        width: 50px;
    }
}

